/*body {
    margin-top: 20px;
    background: #FDFDFF
}*/
body {
    padding-top: 60px;
    height: 1000px;
}

.badge {
    border-radius: 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: .7142em;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: .875rem;
}

.bg-green {
    background-color: #50d38a !important;
    color: #fff;
}

.bg-blush {
    background-color: #ff758e !important;
    color: #fff;
}

.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}

.bg-red {
    background-color: #ec3b57 !important;
    color: #fff;
}

.bg-blue {
    background-color: #60bafd !important;
    color: #fff;
}

.card {
    background: #fff;
    margin-bottom: 10px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}

.inbox .action_bar .delete_all {
    margin-bottom: 0;
    /*margin-top: 8px*/
    display: inline-block;
}
.inbox .action_bar .delete_all:hover input[type="checkbox"] + label::before{
  border-color: #666;
}

.inbox .action_bar .btn,
.inbox .action_bar .search {
    margin: 0
}

.inbox .mail_list .list-group-item {
    border: 0;
    padding: 15px;
    margin-bottom: 1px;
    border-bottom: solid 1px #ddd;
}

.inbox .mail_list .list-group-item:hover {
    background: #f9f9f9
}

.inbox .mail_list .list-group-item .media {
    margin: 0;
    width: 100%
}

.inbox .mail_list .list-group-item .controls {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
    /*margin-top: 11px*/
}

.inbox .mail_list .list-group-item .controls .checkbox {
    display: inline-block;
    position: relative;
}

.inbox .mail_list .list-group-item .controls .checkbox label {
    margin: 0;
    padding: 15px 10px;
}

.inbox .mail_list .list-group-item .controls .favourite {
    margin-left: 10px;
}

.inbox .mail_list .list-group-item .thumb {
    display: inline-block;
}

.inbox .mail_list .list-group-item .thumb img {
    width: 40px;
    margin-top: 11px;
}

.inbox .mail_list .list-group-item .media-heading a {
    color: #555;
    font-weight: bold;
}

.inbox .mail_list .list-group-item .media-heading a:hover,
.inbox .mail_list .list-group-item .media-heading a:focus {
    text-decoration: none
}

.inbox .mail_list .list-group-item .media-heading time {
    font-size: 13px;
    margin-right: 10px
}

.inbox .mail_list .list-group-item .media-heading .badge {
    margin-bottom: 0;
    border-radius: 50px;
    font-weight: normal
}

.inbox .mail_list .list-group-item .msg {
    margin-bottom: 0px;
    font-weight: 400;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40px;
    color: #696969;
    font-size: 12px;
}
.inbox .mail_list .list-group-item .msg:after{
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(85%, #fff));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff 85%);
    background: -o-linear-gradient(left, rgba(255,255,255,0), #fff 85%);
    background: linear-gradient(to right, rgba(255,255,255,0), #fff 85%);
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 25%;
    height: 25px;
    content: "";
}

.inbox .mail_list .list-group-item:hover .msg:after{
    background: #eceeef;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #f9f9f9 85%);
    background: -o-linear-gradient(left, rgba(255,255,255,0), #f9f9f9 85%);
    background: linear-gradient(to right, rgba(255,255,255,0), #f9f9f9 85%);
}

.inbox .mail_list .unread {
    border-left: 2px solid
}

.inbox .mail_list .unread .media-heading a {
    color: #333;
    font-weight: 700
}

.inbox .btn-group {
    box-shadow: none
}

.inbox .bg-gray {
    background: #e6e6e6
}

@media only screen and (max-width: 767px) {
    .inbox .mail_list .list-group-item .controls {
        margin-top: 3px
    }
}
.m-r-20{
    margin-right: 20px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-t-20{
    margin-top: 20px!important;
}
.display-table{
  display: table;
}
.p-center{
  margin:0 auto;
}


*{
    box-sizing:border-box;
}

span.field {
  display:block;
  margin-bottom: .5em;
}

input[type="radio"] + label,input[type="checkbox"] + label {
  color: #000;   
  font-size: 1em;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  position:absolute;
  opacity:0;
  curser: pointer;

  &:hover, &:focus, &:hover + label, &:focus + label {
    border-color: #ddd;
    color: #ddd;
  }

  &:checked + label {
    color: black;
    position:relative;
  }
}

input[type="radio"] + label::before {
  content: '';
  width: 1em;
  height: 1em;
  margin-right: .5em;
  position: relative;
  top: .4em;
  display: inline-block;
  background-color: transparent;
  border-radius: 2em;
  border: 4px solid #ddd;
}

input[type="checkbox"] + label::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: .5em;
  position: relative;
  top: .25em;
  display: inline-block;
  border: solid 2px #DDD;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::after {
  content: '✔';
    display: block;
    position: absolute;
    top: 34%;
    left: 14px;
    width: 10px;
    height: 10px;
    color: #000000;
}
input#deleteall:checked + label::after {
    top: 30%;
}
.delete_all label{
    padding-top: 5px;
    padding-left: 10px;
    position: relative;
    margin: 0;
}

input[type="radio"]:checked + label::before {
  border-color: #ddd;
}

input[type="radio"]:checked + label::after {
  content: '';
  width: .75em;
  height: .75em;
  position: absolute;
  top: .12em;
  left:.35em;
  display: inline-block;
  background-color: #ddd;
  border-radius: 2em;
}

.action-hover{
  color: #666 !important;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;    
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(95%, #fff));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff 30%);
    background: -o-linear-gradient(left, rgba(255,255,255,0), #fff 30%);
    background: linear-gradient(to right, rgba(255,255,255,0), #fff 30%);
    width: 150px;
    padding: 10px;
    text-align: right;
    display: none;
}

.inbox .mail_list .list-group-item:hover input[type="checkbox"] + label::before{
    border-color: #666;
}
.inbox .mail_list .list-group-item:hover .action-hover{
    background: #eceeef;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(30%, #f9f9f9));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #f9f9f9 30%);
    background: -o-linear-gradient(left, rgba(255,255,255,0), #f9f9f9 30%);
    background: linear-gradient(to right, rgba(255,255,255,0), #f9f9f9 30%);
    display: block;
}


.action-hover a, .header-action a {
    color: #666;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 40px;
    justify-content: center;
    outline: none;
    position: relative;
    text-align: center;
    align-items: center;
    
    border-radius: 50%;
    margin-left: 5px;
}
.action-hover a:hover, .header-action a:hover{
    background: #d8d5d5;
    color: #000;
}
.action-hover a i, .header-action a i{
  line-height: 35px;
}

.header-action{
    
    display: inline-block;
}
.header-action + .avatar img{
    width: 50px;
    height: 50px;
}
.header-action + .avatar + label{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.header-action + .avatar + label small{
    display: flex;
}
.header-action + label + small{
    height: 35px;
    line-height:35px;
    font-size: 14px;
}
.action-border{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;

}
.action-border a{
  margin-left: 0;
  border-radius: 50%;
  border: solid 2px #DDD;
}

.placeholder1 {
    /* margin: 0 auto; */
    width: 40px;
    height: 40px;
    margin-left: 65px;
    border-radius: 50%;
}
.placeholder2 {
    width: 25%;
    height: 20px;
    margin-left: 35px;
    vertical-align: top;
    display: block!important;
}
.placeholder3 {
    width: 85%;
    height: 20px;
    margin-left: 35px;
    margin-top:10px;
    vertical-align: bottom;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 500px 104px;
    /*height: 250px;*/
    position: relative;
    display: inline-block;
}
.content-image{
    margin: 20px auto;
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
@media only screen and (max-width: 767px) {
    .header-action + .avatar + label{
        width: 60%;
    }
}
.overflow-auto{
    overflow: auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #61b9f9;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #61b9f9 !important;
    font-size: 14px;
    font-weight: bold;
}

.nav-tabs .nav-link:focus{
    border: none;
    color: #61b9f9;
}
.nav-tabs .nav-link:hover {
  border: none;
  color: #555;
}
.nav-tabs .nav-link{
    border: none;
    color: #7d7d7d;
    font-weight: bold;
    font-size: 14px;
}
.m-t-5{
  margin-top: 5px !important;
}

.fs-20{
  font-size: 20px!important;
}
.emptydata{
  text-align: center;
  margin-top: 50px;
}
.emptydata img{
  width: 200px;
  margin-bottom: 20px;
}
.emptydata h5{
  color: #555;
}
.swal2-styled{
    font-size: 14px!important;
}
.swal2-title{
    font-size: 20px!important;
}
.swal2-content{
  font-size: 14px!important;
}


.additional-data div{
    line-height: 50px;
    font-size: 14px;
}
.add-title{
    width: 50%;
    position: relative;
    margin-right: 10px;
}
.add-title::after {
  content: ':';
  position: absolute;
    right: 0;
}
.add-image{
    height: 50px;
    width: 50px;
    border: solid 1px #ddd;
    border-radius: 50%;
    padding: 8px;
}
.additional-header{
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #999;
    margin-bottom: 20px;
}
#additional-data > .additional-data ~ .additional-data{
    border-top: solid 1px #DDD;
    padding-top: 20px;
    margin-top: 10px;
}
#additional-data > .summary-data ~ .summary-data{
    border-top: none;
    padding-top: 20px;
    margin-top: 10px;
    background: linear-gradient(#DDD,#DDD) top right no-repeat;
        background-size: 50% 1px;
}
.align-center{
    text-align: center!important;
}
.align-left{
    text-align: left!important;
}
.align-right{
    text-align: right!important;
}
#additional-data h5{
    font-size:18px;
    border-bottom: none;
        padding-bottom: 15px;
        margin-bottom: 10px;
        background: linear-gradient(#0092cf,#20a3d0) bottom left no-repeat;
        background-size: 5% 2px;
        color: #0093d0;
}
.customer-data{
    font-size: 14px;
}
.bg-wa{
    background-color:#58bd5a!important;
}
.bg-wa:hover{
    background-color:#429a44!important;
}
.btn.bg-wa{
    border: none!important;
    font-weight: bold;
}
.summary-data div{
    line-height: 1.5!important;
}
.customer-data{
      margin-bottom: 20px;
      padding-top: 20px;
      border-top: none;
      background: linear-gradient(#DDD,#DDD) top left no-repeat;
        background-size: 20% 1px;
    }
@media only screen and (max-width: 767px) {

    .additional-data div{
        line-height: 1.5;
        font-size: 14px;
    }
    .additional-data div:nth-child(2){
        line-height:50px;
    }
    .add-image{
        margin-bottom: 10px;
    }
    #additional-data > .additional-data ~ .additional-data{
        border-top: none;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: 10px;
        background: linear-gradient(#DDD,#DDD) top left no-repeat;
        background-size: 30% 1px;
    }
    .customer-data{
      background-size: 30% 1px;
    }

    #additional-data h5{
        margin-bottom: 20px;
        background-size: 15% 2px;
    }
    #additional-data > .summary-data{
      padding-bottom: 0!important;
    }
    .summary-data ~ .summary-data{
      background: none!important;
      margin-top: 0!important;
      padding-top: 0!important;
      padding-bottom: 0!important;
    }
    .btn.bg-wa{
      margin-top:20px;  
    }
    .inbox .mail_list .list-group-item .media-heading a{
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 48px;
        font-size: 14px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .placeholder1{
      margin-left: 10px;
    }
    
}
