body{margin-top:20px;
        background:#eee;
    }

    /* ========================================================================
    * MESSAGES
    * ======================================================================== */
    .message form {
        padding: 6px 15px;
        background-color: #FAFAFA;
        border-bottom: 1px solid #E6EBED;
    }
    .message form .has-icon .form-control-icon {
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        width: 34px;
        line-height: 33px;
        text-align: center;
        color: #777;
    }
    .message > a {
        position: relative;
    }
    .message .indicator {
        text-align: center;
    }
    .message .indicator .spinner {
        left: 26%;
        width: 200px;
        font-size: 13px;
        line-height: 17px;
        color: #999;
    }

    .message-wrapper {
        position: relative;
        padding: 0px;
        background-color: #ffffff;
        margin: 0px;
    }
    .message-wrapper .message-sideleft {
        vertical-align: top !important;
    }
    .message-wrapper .message-sideleft[class*="col-"] {
        padding-right: 0px;
        padding-left: 0px;
    }
    .message-wrapper .message-sideright {
        background-color: #f8f8f8;
    }
    .message-wrapper .message-sideright[class*="col-"] {
        padding: 30px;
    }
    .message-wrapper .message-sideright .panel {
        border-top: 1px dotted #DDD;
        padding-top: 20px;
    }
    .message-wrapper .message-sideright .panel:first-child {
        border-top: none;
        padding-top: 0px;
    }
    .message-wrapper .message-sideright .panel .panel-heading {
        border-bottom: none;
    }
    .message-wrapper .panel {
        background-color: transparent !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .message-wrapper .panel .panel-heading, .message-wrapper .panel .panel-body {
        background-color: transparent !important;
    }
    .message-wrapper .media .media-body {
        font-weight: 300;
    }
    .message-wrapper .media .media-heading {
        margin-bottom: 0px;
    }
    .message-wrapper .media small {
        color: #999999;
        font-weight: 400;
    }

    .list-message .list-group-item {
        padding: 15px;
        color: #999999 !important;
        border-right: 3px solid #8CC152 !important;
    }
    .list-message .list-group-item.active {
        background-color: #EEEEEE;
        border-bottom: 1px solid #DDD !important;
    }
    .list-message .list-group-item.active p {
        color: #999999 !important;
    }
    .list-message .list-group-item.active:hover, .list-message .list-group-item.active:focus, .list-message .list-group-item.active:active {
        background-color: #EEEEEE;
    }
    .list-message .list-group-item small {
        font-size: 12px;
    }
    .list-message .list-group-item .list-group-item-heading {
        color: #999999 !important;
    }
    .list-message .list-group-item .list-group-item-text {
        margin-bottom: 10px;
    }
    .list-message .list-group-item:last-child {
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        border-bottom: 1px solid #DDD !important;
    }
    .avatar{
        width:50px;
        height:50px;
    }