body {
    margin-top: 20px;
    background: #FDFDFF
}

.badge {
    border-radius: 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: .7142em;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: .875rem;
}

.bg-green {
    background-color: #50d38a !important;
    color: #fff;
}

.bg-blush {
    background-color: #ff758e !important;
    color: #fff;
}

.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}

.bg-red {
    background-color: #ec3b57 !important;
    color: #fff;
}

.bg-blue {
    background-color: #60bafd !important;
    color: #fff;
}

.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}

.inbox .action_bar .delete_all {
    margin-bottom: 0;
    margin-top: 8px
}

.inbox .action_bar .btn,
.inbox .action_bar .search {
    margin: 0
}

.inbox .mail_list .list-group-item {
    border: 0;
    padding: 15px;
    margin-bottom: 1px
}

.inbox .mail_list .list-group-item:hover {
    background: #eceeef
}

.inbox .mail_list .list-group-item .media {
    margin: 0;
    width: 100%
}

.inbox .mail_list .list-group-item .controls {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
    /*margin-top: 11px*/
}

.inbox .mail_list .list-group-item .controls .checkbox {
    display: inline-block;
    position: relative;
}

.inbox .mail_list .list-group-item .controls .checkbox label {
    margin: 0;
    padding: 10px;
}

.inbox .mail_list .list-group-item .controls .favourite {
    margin-left: 10px;
}

.inbox .mail_list .list-group-item .thumb {
    display: inline-block;
}

.inbox .mail_list .list-group-item .thumb img {
    width: 40px;
    margin-top: 11px;
}

.inbox .mail_list .list-group-item .media-heading a {
    color: #555;
    font-weight: normal
}

.inbox .mail_list .list-group-item .media-heading a:hover,
.inbox .mail_list .list-group-item .media-heading a:focus {
    text-decoration: none
}

.inbox .mail_list .list-group-item .media-heading time {
    font-size: 13px;
    margin-right: 10px
}

.inbox .mail_list .list-group-item .media-heading .badge {
    margin-bottom: 0;
    border-radius: 50px;
    font-weight: normal
}

.inbox .mail_list .list-group-item .msg {
    margin-bottom: 9px;
}
/*.inbox .mail_list .list-group-item .msg:after{
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(95%, #fff));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff 95%);
    background: -o-linear-gradient(left, rgba(255,255,255,0), #fff 95%);
    background: linear-gradient(to right, rgba(255,255,255,0), #fff 95%);
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 25%;
    height: 17px;
    content: "";
}*/

.inbox .mail_list .unread {
    border-left: 2px solid
}

.inbox .mail_list .unread .media-heading a {
    color: #333;
    font-weight: 700
}

.inbox .btn-group {
    box-shadow: none
}

.inbox .bg-gray {
    background: #e6e6e6
}

@media only screen and (max-width: 767px) {
    .inbox .mail_list .list-group-item .controls {
        margin-top: 3px
    }
}
.m-r-20{
    margin-right: 20px!important;
}


*{
    box-sizing:border-box;
}

span.field {
  display:block;
  margin-bottom: .5em;
}

input[type="radio"] + label,input[type="checkbox"] + label {
  color: #000;   
  font-size: 1em;
  curser: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  position:absolute;
  opacity:0;
  curser: pointer;

  &:hover, &:focus, &:hover + label, &:focus + label {
    border-color: #ddd;
    color: #ddd;
  }

  &:checked + label {
    color: black;
    position:relative;
  }
}

input[type="radio"] + label::before {
  content: '';
  width: 1em;
  height: 1em;
  margin-right: .5em;
  position: relative;
  top: .4em;
  display: inline-block;
  background-color: transparent;
  border-radius: 2em;
  border: 4px solid #ddd;
}

input[type="checkbox"] + label::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: .5em;
  position: relative;
  top: .25em;
  display: inline-block;
  background-color: #ddd;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label::after {
  content: '✔';
    display: block;
    position: absolute;
    top: 30%;
    left: 13px;
    width: 10px;
    height: 10px;
    color: #000000;
}

input[type="radio"]:checked + label::before {
  border-color: #ddd;
}

input[type="radio"]:checked + label::after {
  content: '';
  width: .75em;
  height: .75em;
  position: absolute;
  top: .12em;
  left:.35em;
  display: inline-block;
  background-color: #ddd;
  border-radius: 2em;
}